.bg-blue-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#9EBFFF), to(#5B90F5));
  background: linear-gradient(to bottom right, #9EBFFF, #5B90F5);
}

.bg-orange-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#FFA175), to(#FA783C));
  background: linear-gradient(to bottom right, #FFA175, #FA783C);
}

.bg-zircon {
  background: #F7F9FF;
}

.bg-festival {
  background: #F9F871;
}

.bg-cornflower-blue {
  background: #5B90F5;
}

.bg-blue-white {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #5B90F5), color-stop(15%, #fff));
  background: linear-gradient(#5B90F5 85%, #fff 15%);
}

.b-blue {
  border-color: #D5E2FE;
}

.b-orange {
  border-color: #8C91C8;
}

.bg_card_number {
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  position: absolute;
  top: -25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  font-weight: bold;
  background-image: url("../assets/images/card_number.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .sub-title {
    line-height: 0.75rem;
  }
}

@media screen and (min-width: 767px) {
  .w-8xl {
    width: 28rem !important;
  }
}

.ui-state-active {
  background: #5B90F5 !important;
  border: none !important;
  color: white;
  font-weight: bold !important;
}

.ui-state-default {
  background: #5B90F5 !important;
  border: none !important;
  color: white !important;
  border-bottom: 1px solid white !important;
  padding: 1rem 0 !important;
}

.ui-accordion-content {
  border-radius: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 1rem !important;
}

.max-w-8xl {
  max-width: 96rem;
}

.btn-shadow {
  -webkit-box-shadow: 10px 10px 30px 0px #0C234D33;
          box-shadow: 10px 10px 30px 0px #0C234D33;
}

@font-face {
  font-family: "Mont Blanc";
  src: url("./assets/fonts/montblanc/MontBlanc-Trial-Black.woff2") format("woff2"), url("./assets/fonts/montblanc/MontBlanc-Trial-Black.woff") format("woff");
}

@font-face {
  font-family: "Mont Blanc Regular";
  src: url("./assets/fonts/montblanc/MontBlanc-Trial-Regular.woff2") format("woff2"), url("./assets/fonts/montblanc/MontBlanc-Trial-Regular.woff") format("woff");
}

@font-face {
  font-family: "Mont Blanc Bold";
  src: url("./assets/fonts/montblanc/MontBlanc-Trial-Bold.woff2") format("woff2"), url("./assets/fonts/montblanc/MontBlanc-Trial-Bold.woff") format("woff");
}

html {
  font-family: 'Mont Blanc Regular', Arial, sans-serif;
  color: #00143C;
}

.text-bold {
  font-family: 'Mont Blanc Bold', Arial, sans-serif;
}

.text-175xl {
  font-size: 1.75rem;
}

.w-header {
  width: calc(100% - 2rem);
}

.list > li:before {
  background-color: #5B90F5;
  width: 7px;
  height: 7px;
  content: "";
  margin-right: 15px;
  margin-top: 6px;
  float: left;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */