// colors
$cornflower-blue: #5B90F5;
$festival: #F9F871;
$midnight: #00143C;
$zircon: #F7F9FF;
$celeste: #CFD1CE;

$blue-border: #D5E2FE;

$liner-blue: ( #9EBFFF, #5B90F5);
$orange-liner: (#FFA175, #FA783C,);

// font
$text-title: 54px;
$text-subtitle: 36px;

// bg-gradient
.bg-blue-gradient {
    background: linear-gradient(to bottom right, $liner-blue);
}
.bg-orange-gradient {
    background: linear-gradient(to bottom right, $orange-liner);
}
.text-cornflower {
    color: $cornflower-blue;
}
.bg-zircon {
    background: $zircon;
}
.bg-midnight {
    background: $midnight;
}

.text-midnight {
    color: $midnight;
}

.bg-festival {
    background: $festival;
}

.bg-cornflower-blue {
    background: $cornflower-blue;
}

.bg-blue-white {
    background: linear-gradient($cornflower-blue 85%, #fff 15%);
}

.b-blue {
    border-color: $blue-border
}
.b-orange {
    border-color: #8C91C8;
}

.bg_card_number {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    left: 50%;
    font-weight: bold;
    background-image: url("../assets/images/card_number.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

@media screen and (max-width: 767px){
    .sub-title {
        line-height: 0.75rem;
    }
}

@media screen and (min-width: 767px){
    .w-8xl {
        width: 28rem !important;
    }
}

.ui-state-active {
    background: $cornflower-blue !important;
    border: none !important;
    color: white;
    font-weight: bold !important;
}

.ui-state-default {
    background: $cornflower-blue !important;
    border: none !important;
    color: white !important;
    border-bottom: 1px solid white !important;
    padding: 1rem 0 !important;
}

.ui-accordion-content {
    border-radius: 1rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
}

.max-w-8xl {
    max-width: 96rem;
}

.btn-shadow {
    box-shadow: 10px 10px 30px 0px #0C234D33;
}

.slider-arrows, .slider-arrows-2{
    display: flex;
    justify-content: center;
}

.slider-arrow {
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
    line-height:30px;
    text-align:center;
    font-weight:bold;
    color: $cornflower-blue;
    cursor:pointer;
}

.slider-arrow:hover {
    color: white;
    background-color: $cornflower-blue;
}