// colors
$cornflower-blue: #5B90F5;
$festival: #F9F871;
$midnight: #00143C;
$zircon: #F7F9FF;
$celeste: #CFD1CE;

$blue-border: #D5E2FE;

$liner-blue: ( #9EBFFF, #5B90F5);
$orange-liner: (#FA783C, #FFA175);

// font
$text-title: 54px;
$text-subtitle: 36px;

// bg-gradient
.bg-blue-gradient {
    background: linear-gradient(to bottom right, $liner-blue);
}

.bg-zircon {
    background: $zircon;
}

.bg-festival {
    background: $festival;
}

.bg-cornflower-blue {
    background: $cornflower-blue;
}

.bg-blue-white {
    background: linear-gradient($cornflower-blue 85%, #fff 15%);
}

.b-blue {
    border-color: $blue-border
}

.bg_card_number {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    left: 50%;
    font-weight: bold;
    background-image: url("/assets/images/card_number.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

@media screen and (max-width: 767px){
    .sub-title {
        line-height: 0.75rem;
    }
}

