@import "variables";
@import "fonts";

html {
    font-family: 'Mont Blanc Regular', Arial, sans-serif;
    color: $midnight;
}

.text-bold {
    font-family: 'Mont Blanc Bold', Arial, sans-serif;
}

.text-175xl {
    font-size: 1.75rem;
}

.w-header {
    width: calc(100% - 2rem);
}

.list > li:before {
    background-color: $cornflower-blue;
    width: 7px;
    height: 7px;
    content:"";
    margin-right: 15px;
    margin-top: 6px;
    float: left;
    border-radius: 50%;
}
.accordion-enter-active {
  animation: dropdown .5s linear;
}
.accordion-leave-active {
  animation: dropdown .5s linear reverse;
}
@keyframes dropdown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 450px;
  }
}

.sloggan {
  font-size: 0.5rem;
}